:global {
  .input-bar {
    margin-bottom: 16px;

    input[type='text'] {
      width: calc(100% - 95px);
      margin: 4px 10px 0 0;
    }

    .btn {
      float: right;

      &[type='submit'] {
        margin-left: 10px;
      }
    }
  }

  .grid {
    width: 100%;
    height: calc(100vh - 145px);
    display: block;
    overflow-y: scroll;
    font-size: .8rem;

    .card {
      display: inline-block;
      width: 250px;
      height: 140px;
      overflow: hidden;
      padding: 5px;
      border: none;
    }

    .btn {
      width: 70px;
      margin-top: -35px;
      margin-left: 5px;
      padding: 2px;
      float: left;

      &.btn-success {
        margin-top: -70px;
      }
    }

    img.thumbnail {
      float: left;
      width: 100%;
      height: 100%;

      &.clickable {
        cursor: pointer;
      }
    }

    .caption {
      float: left;
      width: 100%;
      margin-top: -130px;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.3);
      color: white;

      &.error {
        background-color: rgba(255, 0, 0, 0.3);
      }

      &.complete {
        background-color: rgba(50, 205, 50, 0.3);
      }
    }
  }
}
