:global {
  .input-bar {
    margin-bottom: 16px;

    input[type='text'] {
      width: calc(100% - 324px);
      margin: 4px 10px 0 0;
    }

    .btn {
      float: right;

      &[type='submit'] {
        margin-left: 10px;
      }
    }
  }

  .files {
    width: 100%;
    height: calc(100vh - 145px);
    display: block;
    overflow-y: scroll;
    font-size: .8rem;

    .filename {
      width: 50vw;
      max-width: 50vw;
    }

    img.thumbnail {
      width: 150px;
    }

    tr {
      border-bottom: 1px solid #f0f0f0;
      height: 28px;
    }

    td {
      overflow: hidden;
    }

    .icon {
      width: 24px;
      height: 18px;
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: 3px 8px;

      &.error {
        background-image: url('../../assets/error.svg');
      }

      &.complete {
        background-image: url('../../assets/iconmonstr-check-mark.svg');
      }
    }
  }
}
