:global {
  .input-bar {
    margin-bottom: 16px;

    input[type='text'] {
      width: calc(100% - 95px);
      margin: 4px 10px 0 0;
    }

    .btn {
      float: right;

      &[type='submit'] {
        margin-left: 10px;
      }
    }
  }

  .grid {
    width: 100%;
    height: calc(100vh - 145px);
    display: block;
    overflow-y: scroll;
    font-size: .8rem;

    .card {
      display: inline-block;
      width: 250px;
      height: 140px;
      overflow: hidden;
      padding: 5px;
      border: none;
    }

    .btn {
      width: 60px;
      margin-left: -68px;
      margin-top: 95px;
    }

    img.thumbnail {
      float: left;
      width: 100%;
    }

    .error {
      float: left;
      width: 250px;
      margin-left: -250px;
      background-color: rgba(0, 0, 0, .5);
      color: white;
    }

    td {
      overflow: hidden;
    }
  }
}
