:global {
  .tableview {
    .globalfilter {
      float: right;
      margin-bottom: 5px;

      input {
        width: 300px;
        float: right;
        margin-left: 5px;
      }
    }

    .table {
      td,
      th {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      thead {
        .lastupdated {
          width: 110px;
        }

        .size {
          width: 80px;
        }

        .isactive,
        .ispublic,
        .storageservice {
          width: 18px;
        }

        .sorted {
          &.desc {
            background-color: pink;
          }

          &.asc {
            background-color: yellowgreen;
          }
        }
      }

      tbody {
        .icon {
          width: 18px;
          height: 18px;
          background-size: 18px 18px;
          background-repeat: no-repeat;
        }

        .filename > span[role='button'] {
          cursor: pointer;
        }

        .storageservice > .gdrive {
          background-image: url('../../assets/gdrive.svg');
        }

        .ispublic > .false {
          background-image: url('../../assets/lock-svgrepo-com.svg');
        }

        .isactive > .true {
          background-image: url('../../assets/iconmonstr-check-mark.svg');
        }
      }
    }
  }
}
