#root {
  margin: 10px;
}

h2.center {
  text-align: center;
}

.library-selection {
  margin: 50px;
}

.alert {
  position: absolute;
  left: 25%;
  top: 20px;
  z-index: 999;
  width: 50%;
  padding: .4rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}
